<!DOCTYPE html>
<html>

<head>
    <title>LAB #2B- ANUJAY GHOSH</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="align-items: center;">
    <header class="header">
        <h1>CSE564 VISUALIZATION - LAB #2B- ANUJAY GHOSH</h1>
    </header>
    <main class="main">

        <section class="section">
            <div class="center">
                <h2 class="section-heading">K-means Clustering</h2>
            </div>
            <div class="center">
                <div id="kmeanschart"></div>
            </div>
        </section>

        <script>
            // Fetch the data from Flask and create the chart
            fetch('/kmeans')
                .then(response => response.json())
                .then(data => {
                    createKMeansChart(data);
                })
                .catch(error => console.error(error));
        </script>
        <script src="{{ url_for('static', filename='js/kmeans.js') }}"></script>


    </main>
    <script src="{{ url_for('static', filename='js/screeplot.js') }}"></script>
    <script>
        const screeData = JSON.parse('{{ scree_data|tojson }}');
        createScreePlot(screeData);
    </script>
</body>

</html>